RewriteEngine On
RewriteRule ^auth/login$ themes/pages/login.php [NC,QSA]
RewriteRule ^auth/logout$ themes/pages/logout.php [NC,QSA]
RewriteRule ^auth/register$ themes/pages/register.php [NC,QSA]

RewriteRule ^admin/dashboard$ themes/pages/dashboard.php [NC,QSA]
RewriteRule ^room/booking$ themes/pages/booking.php [NC,QSA]
RewriteRule ^booking/view$ themes/pages/viewbooking.php [NC,QSA]
RewriteRule ^booking/print$ themes/pages/printbooking.php [NC,QSA]

RewriteRule ^user/addcustomer$ themes/pages/addcustomer.php [NC,QSA]
RewriteRule ^room/addcategory$ themes/pages/addroomcategory.php [NC,QSA]
RewriteRule ^room/addsubcategory$ themes/pages/addroomsubcategory.php [NC,QSA]
RewriteRule ^room/addpackage$ themes/pages/addpackage.php [NC,QSA]
RewriteRule ^room/addroom$ themes/pages/addrooms.php [NC,QSA]

